.PageLayout
{
   margin-bottom: 50px;
   margin-top: 50px;
   border-color: black;
   border: solid;
   height: auto;
   position: relative;
   

}
.background
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(to bottom, rgb(114, 31, 169), rgb(12, 89, 183));

}

.Button{
background-color: rgb(165, 93, 159);
box-shadow: 23px;
border: solid;
        
}

.Box
{
    margin-top: 100px;
    padding-top: 20px;
    height: 200px
}

.Newsline
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background: linear-gradient(to bottom, rgb(255, 243, 255), rgb(245, 248, 255));

}

.Heading1
{
    font-size: 30px;
}

.Heading2
{
    font-size: 20px;
}

