body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.Header{
  background: linear-gradient(to bottom, rgb(114, 31, 169), rgb(12, 89, 183));  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

 .o{
  background: linear-gradient(to bottom, rgb(114, 31, 169), rgb(12, 89, 183));

}




